/* Common Styles */
body {
  transition: background-color 0.3s, color 0.3s;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Light Theme */
.light-theme {
  background-color: #ffffff;
  color: #000000;
  
}

/* Dark Theme */
.dark-theme {
  background-color: #121212;
  color: #ffffff;
}